@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.tituloHome{
    font-size: xx-large;
}
header{
    background-color: #cd966c;
    color: #5b1f00;
}
.navegador{
    background-color: #5b1f00; 
}
.colorMarronClaro{
    color: #ffd7ab;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.imagenPrincipalHome{
    background-image: url(../images/centinela_principal.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
.imagenPrincipalHome div h2{
    color: #ffd7ab;
    text-shadow: 0 0 5px #222;
    font-size: 40px;
}
.imagenPrincipalHome div p{
    color: #ffd7ab;
    text-shadow: 0 0 5px #222;
    font-size: 17px;
}
@media only screen and (min-width: 1200px){
    .imagenPrincipalHome{
        height: 700px;
    }
}
@media only screen and (max-width: 480px){
    .imagenPrincipalHome{
        height: 300px;
    }
}